.header-about {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-top: 40px;
}

.about-title {
    font-size: 25px;
    font-weight: 600;
    color: #a6bff6;
}

.about-desc {
    font-size: 15px;
    color: #f8f8ffb4;
}

.about-main {
    width: 100%;
    padding: 20px;
    margin-top: 40px;
}

.about-section {
    display: flex;
    justify-content: space-between;
}

.section-title{
    color: #F8F8FF;
}

.section-description{
    color: #f8f8ffb4;
    width: 600px;
    line-height: 1.35;
    padding: 0 50px;
}