/* Hero Section */
.hero-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-top: 40px;
}
/* Hero Section - Main Intro */
.main-intro {
    margin-top: 15px;
    flex: 280px;
}

.title-intro {
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 600;
    color: #a6bff6;
}

.detail-intro {
    font-size: 16px;
    width: 480px;
    color: #f8f8ffb4;
    line-height: 1.40;
}

/* Main Intro - Contact */
.contact-section {
    margin-top: 40px;
}

.contact-section a {
    color: #F8F8FF;
    padding: 11px;
    font-size: 12px;
    background-color: #191919;
    border-radius: 20px;
    transition: opacity 0.15s;
}

.contact-section a:hover {
    opacity: 0.8;
}

/* Hero Section - Project Showcase */
.project-showcase-intro {
    color: #F8F8FF;
    font-weight: 500;
    margin-bottom: 20px;
}

.project-preview {
    display: flex;
    padding: 10px 12px;
}

.project-explanation {
    margin-left: 10px;
    line-height: 1.35;
}

.project-title,
.project-detail {
    width: 400px;
}

.project-title {
    color: #F8F8FF;
    font-size: 15px;
}

.project-detail {
    margin-top: 8px;
    color: #f8f8ffb4;
    font-size: 14px;
}

.placeholder-image {
    width: 250px;
}